<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Formulário de Usuário</title>

</head>
<body>
<h1>Formulário de Usuário</h1>

<form th:action="@{/usuarios/usuario}" th:object="${usuario}" method="post">
  <input type="hidden" th:field="*{id}" />

  <label for="nome">Nome:</label>
  <input type="text" id="nome" th:field="*{nome}" required />
  <br>

  <label for="email">Email:</label>
  <input type="email" id="email" th:field="*{email}" required />
  <br>

  <label for="senha">Senha:</label>
  <input type="password" id="senha" th:field="*{senha}" required />
  <br>

  <label for="tipoAcesso">Tipo de Acesso:</label>
  <select id="tipoAcesso" th:field="*{tipoAcesso}" required>
    <option th:each="tipo : ${tiposAcesso}" th:value="${tipo}" th:text="${tipo.descricao}"></option>
  </select>
  <br>

  <button type="submit">Salvar</button>
  <a href="/usuarios/usuarios">Cancelar</a>
</form>

<br>
<a href="/">Voltar para o Início</a>
</body>
</html>
