<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuários</title>

</head>
<body>
<h1>Lista de Usuários</h1>

<a href="/usuarios/usuario">Adicionar Novo Usuário</a>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Data de Criação</th>
        <th>Tipo de Acesso</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="usuario : ${usuarios}">
        <td th:text="${usuario.id}">1</td>
        <td th:text="${usuario.nome}">Nome do Usuário</td>
        <td th:text="${usuario.email}">email@exemplo.com</td>
        <td th:text="${#dates.format(usuario.dataCriacao, 'dd/MM/yyyy HH:mm')}">01/01/2023 10:00</td>
        <td th:text="${usuario.tipoAcesso.descricao}">Administrador</td>
        <td>
            <a th:href="@{'/usuarios/usuario/' + ${usuario.id}}">Editar</a> |
            <a th:href="@{'/usuarios/usuarioDelete/' + ${usuario.id}}" onclick="return confirm('Deseja realmente excluir este usuário?')">Excluir</a>
        </td>
    </tr>
    </tbody>
</table>

<br>
<a href="/">Voltar para o Início</a>
</body>
</html>
