<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Usuários</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Lista de Usuários</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Tipo de Acesso</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="usuario : ${usuarios}">
        <td th:text="${usuario.id}"></td>
        <td th:text="${usuario.nome}"></td>
        <td th:text="${usuario.email}"></td>
        <td th:text="${usuario.tipoAcesso.descricao}"></td>
        <td>
            <a th:href="@{/usuarios/editar/{id}(id=${usuario.id})}">Editar</a>
            <a th:href="@{/usuarios/excluir/{id}(id=${usuario.id})}">Excluir</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/usuarios/novo}" class="btn btn-primary">Novo Usuário</a>
</body>
</html>