<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulário de Agenda</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<h1>Formulário de Agenda</h1>

<form th:action="@{/agenda}" th:object="${agenda}" method="post">
    <input type="hidden" th:field="*{id}" />

    <label for="data">Data:</label>
    <input type="datetime-local" id="data" th:field="*{data}" required />
    <br>

    <label for="cliente">Cliente:</label>
    <select id="cliente" th:field="*{cliente.id}">
        <option th:each="cliente : ${clientes}" th:value="${cliente.id}" th:text="${cliente.nome}"></option>
    </select>
    <br>

    <label for="funcionario">Funcionário:</label>
    <select id="funcionario" th:field="*{funcionario.id}">
        <option th:each="funcionario : ${funcionarios}" th:value="${funcionario.id}" th:text="${funcionario.nome}"></option>
    </select>
    <br>

    <label for="servico">Serviço:</label>
    <select id="servico" th:field="*{servico.id}">
        <option th:each="servico : ${servicos}" th:value="${servico.id}" th:text="${servico.descricao}"></option>
    </select>
    <br>

    <button type="submit">Salvar</button>
    <a href="/agendas">Cancelar</a>
</form>

<br>
<a href="/">Voltar para o Início</a>
</body>
</html>
